<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chiikawa App</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <h1>Meet Chiikawa!</h1>
    <p>An app for collecting your favorite Chiikawa friends.</p>
    <h2 id="chiikawa-title">What is Chiikawa?</h2>
    <p>Chiikawa (ちいかわ) is a popular Japanese web manga and anime franchise by illustrator Nagano, featuring cute, small, animal-like creatures navigating a world with both heartwarming and surprisingly dark, existential themes, exploring friendship, work stress, and simple joys. The name means "Something Small and Cute" (Nanka Chiisakute Kawaii Yatsu), and its appeal comes from balancing extreme cuteness with relatable struggles, resonating with fans who see metaphors for adult life in the characters' daily challenges like job hunting or facing monsters, say <a href="chiikawa-merch.com">chiikawa-merch.com</a> and <a href="Nippon.com">Nippon.com</a>.</p>
  </body>
</html>
